<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login Users</title>
	<style type="text/css">
		body{
			background:rgba(252, 236, 183,.7) ;
		}
		form{
			display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            border:1px solid grey;
            margin:2% auto;
            width:30%;
            height:50vh;
            padding: 10px;
		}
		.divInfo{
			display: flex;
			flex-direction:column;
			justify-content: center;
			align-items: center;
		}
		input{
			padding:5px;
			border-radius:10px;
			text-align: center;
		}
		label{
			margin-bottom:20px;
			margin-top:20px;
		}
		h1{
			text-align:center;

		}
		#divTitulo{
			width:40%;
			border:1px solid black;
			margin:50px auto;
		}
		#enviar{
			cursor: pointer;
			margin-top:10px;
		}
	</style>
</head>
<body>
	<div id='divTitulo'>
		<h1>Inicio de Sesion</h1>
	</div>


<form action="/loginUsers" method="post">

<div class='divInfo'>
 <label>Correo Electronico</label>
 <input type="email" name="email" required>
</div>

<div class='divInfo'>
 <label>Contraseña</label>
 <input type="password" name="password" required>	
</div>

<div class='divInfo'>
	<input type="submit" value="Iniciar" id='enviar'>
</div>
 <p>¿No tienes una cuenta? registrate aqui</p>
 <a href="/registroUsers">Registro</a>

</form>

</body>
</html>